{% extends 'base.html' %}
{% load staticfiles %}
{% load mathfilters %}
{% load humanize %}
{% block content %}

  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">FTI</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Agencies <span class="caret"></span></a>
            <ul class="dropdown-menu">
                {% for a in agencies %}
                        <li><a href="/agency/{{ a.id }}">{{ a.name }}</a></li>
                {% endfor %}
            </ul>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Respond <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/institution/6840">Suntrust Bank</a></li>
            </ul>
            </li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

 <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" type="text/css" />

 <div class="container" style="padding-top: 70px;">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>T-bone's Test Page</h1>
      </div>

</div> <!-- /container -->

<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body>
    <div id="map"></div>
    <script>

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 42.3601, lng: -71.0589},
          zoom: 8
        });
        var ctaLayer = new google.maps.KmlLayer({
          url: 'https://github.com/ThomasDowningFTI/census/raw/master/documents/cb_2016_25_tract_500k.kmz',
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqQBVPLmYlUcHlosW-i1-sfOnOXsOkgBA&callback=initMap">
    </script>
  </body>
</html>

{% endblock %}

{% block javascript %}

<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>



{% endblock %}
